// out: null
//Color Palette
//color1 - light blue
//color2 - deep yellow
//color3 -  medium orange
//color4 - dark blue
//color5 - cream
//color6 - orangered

@color1: #8cbade;
@color2: #ffc73d;
@color3: #D2691E;
@color4: #1a2131;
@color5: #fff4db;
@color6: #ff4500;

@darkColor1: darken(@color1, 20%);
@darkColor2: darken(@color2, 20%);
@darkColor3: darken(@color3, 20%);
@darkColor4: darken(@color4, 20%);
@darkColor5: darken(@color5, 20%);

@lightColor1: lighten(@color1, 20%);
@lightColor2: lighten(@color2, 20%);
@lightColor3: lighten(@color3, 20%);
@lightColor4: lighten(@color4, 20%);
@lightColor5: lighten(@color5, 20%);

@greyColor1: desaturate(@color1, 100%);
@greyColor2: desaturate(@color2, 100%);
@greyColor3: desaturate(@color3, 100%);
@greyColor4: desaturate(@color4, 100%);
@greyColor5: desaturate(@color5, 100%);

@lightColor: #fff;
@darkColor: #000;